/* Navbar container */
.navbar {
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 0px;
    position: sticky;
    top: 0;
    z-index: 10000;

    /* Ensure the navbar stays on top of other elements */
}

@media (min-width: 768px) {
    .mobile-menu {
        display: none;
        /* Hidden by default on desktop */
    }

    .dropdown-menu {
        display: none;
    }

    /* Desktop menu */
    .desktop-menu {
        display: flex;
        /* Hidden by default on desktop */
        position: relative;
        /* Ensure relative positioning for absolute child */
        z-index: 9999;
        align-items: center;
        justify-content: space-between;
    }

    .menudesk {
        position: relative;
        right: 0;
        /* Align menu to the right */
        padding-right: 3.5vw;
        display: flex;
        align-items: center;
        list-style-type: none;
        margin: 0;
        justify-content: flex-end;
        /* Reset margin */
    }

    .desktop-menu li {
        margin-left: 20px;
    }


    .desktop-menu a {
        text-decoration: none;
        color: white;

    }

    .LogoContainer {
        flex: 1;
        /* Take up remaining space */
        display: flex;
        /* Use flexbox */
        justify-content: center;
        /* Center items horizontally */
        align-items: center;
        /* Center items vertically */
        padding: 10px;
        position: relative;
    }
}

@media (max-width: 767px) {

    /* Hide desktop menu */
    .desktop-menu {
        display: none;
    }

    /* Show mobile menu */
    .mobile-menu {
        display: block;
        max-width: 100%;
        position: relative;
        /* Ensure relative positioning for absolute child */
        z-index: 9999;
    }


    .LogoContainer {
        flex: 1;
        /* Take up remaining space */
        display: flex;
        /* Use flexbox */
        justify-content: center;
        /* Center items horizontally */
        align-items: center;
        /* Center items vertically */
        padding: 10px;
    }



    .dropdown-toggle {
        background: none;
        border: none;
        cursor: pointer;
        color: white;
        position: absolute;
        align-items: center;
        /* Fixed position from the top */
        z-index: 2000;
        right: 0;
        /* Fixed position from the left */
    }

    .iconcontainer {
        flex: 1;
        /* Take up remaining space */
        display: flex;
        /* Make the logo container a flex container */
        justify-content: center;
        /* Center the logo horizontally */
        align-items: center;
        /* Center the logo vertically */
    }

    .hamburger-icon {
        width: 24px;
        /* Set the width of the icon */
        height: auto;
        /* Automatically adjust the height to maintain aspect ratio */
        align-items: center;
    }

    .dropdown-menu {
        display: block;
        background-color: #00000084;
        /* Hidden by default */
        list-style-type: none;
        padding: 10px;
        margin: 0;
        position: absolute;
        top: calc(100%);
        /* Position it just below the toggle with some space */
        right: 0;
        /* Align it with the left edge of the toggle */
        z-index: 9999;
        text-align: right;

    }

    .dropdown-menu li {
        margin-bottom: 10px;
    }

    .dropdown-menu a {
        text-decoration: none;
        color: white;
    }
}